--extra-index-url https://download.pytorch.org/whl/cu121

numpy==1.24.4
timm==0.9.5
pillow==9.2.0
wandb==0.12.15
tqdm==4.64.0
requests==2.28.1
pytorch-metric-learning==1.5.2
protobuf==3.20.3
bokeh
torch==2.2.2+cu121
torchvision==0.17.2+cu121
albumentations==2.0.8

